* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #E7ECFA;
}

.container {
  background: #151515 url("images/blue.jpg") no-repeat fixed center;
  background-size: cover;
}

/* ! navbar */
.container__nav {
  background-color: none;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}

.navbar {
  padding: 10px 20px;
  width: 900px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu {
  display: flex;
}

.nav__item {
  margin-left: 20px;
  padding: 5px;
  font-weight: bold;
}

.nav__link {
  text-decoration: none;
  color: black;
}

.logo a:link,
.nav__link:link,
.nav__link:visited,
.logo a:visited {
  color: white;
}

.nav__link:hover,
.logo a:hover {
  color: #3EF27E;
}

/* ! header */
.container__header {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  padding: 20px;
  width: 900px;
  height: 450px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* ! header text */
.hello {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-shadow: -5px 5px 10px black;
}

.name {
  font-size: 20px;
}

.minibio {
  font-size: 25px;
  font-weight: bolder;
}

.about {
  display: none;
  font-size: 13px;
  color: #3EF27E;
  text-decoration: none;
}

.about:link,
.about:visited {
  color: #3EF27E;
}

.about:hover {
  color: #2CB75F;
}

/* ! social icon */
.social__list {
  list-style-type: none;
}

.social__icon {
  padding-top: 30px;
}

.social__icon a:link,
.social__icon a:visited {
  color: white;
}

.social__icon a:hover {
  color: #3EF27E;
}

.fab {
  font-size: 35px;
}

.fa-linkedin {
  color: #3EF27E;
}

.fa-linkedin:hover {
  color: #2CB75F;
}

/* ! main */
.main__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* ! section title */
.biography__title,
.latest__work__title,
.contact__form__title {
  width: 100%;
  text-align: center;
  display: block;
  padding-top: 20px;
}

.biography__title h1,
.latest__work__title h1,
.contact__form__title h1 {
  margin: 0 auto 10px;
  width: 35vw;
  border-bottom: 5px solid #3EF27E;
}

/* ! section body */
.biography,
.latest__work,
.contact__form__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

/* ! biography */
.biography__title p {
  width: 50%;
  margin: 0 auto;
}

/* ! skills */
.biography__skills {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
}

/* ! myimg */
.biography__container__img {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex: 2;
}

.biography__img {
  width: 200px;
  height: 250px;
  border-radius: 5%;
  box-shadow: -2px 2px 15px black;
}

/* ! hard skills */
.skills__hard {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  flex: 3;
}

.skills__hard h4 {
  position: relative;
  bottom: 41px;
}

.progress {
  background: #333;
  border-radius: 13px;
  height: 20px;
  width: 300px;
  padding: 3px;
}

.level1:after,
.level2:after {
  content: '80%';
  font-size: 12px;
  text-align: center;
  display: block;
  background: #3EF27E;
  width: 80%;
  height: 100%;
  border-radius: 9px;
}

.level3:after {
  content: '10%';
  font-size: 12px;
  text-align: center;
  display: block;
  background: #3EF27E;
  width: 10%;
  height: 100%;
  border-radius: 9px;
}

/* ! soft skills */
.skills__soft {
  flex: 3;
  width: 300px;
}

.skills__soft__list {
  display: flex;
  flex-direction: column;
}

.skills__item {
  font-size: 25px;
  padding-top: 10px;
  display: flex;
}

.skills__icon {
  padding-right: 15px;
}

.skills__item p {
  display: inline;
}

/* ! work section */
.latest__work__img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
}

.work {
  display: flex;
  width: 600px;
  text-align: right;
  margin-bottom: 20px;
}

.work img {
  width: 100%;
  border-radius: 7px;
}

.work p {
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.work figure {
  font-size: 20px;
}

.work__link:link,
.work__link:visited {
  color: black;
}

.work__link:hover {
  color: #3EF27E
}

/* ! contact form */
.contact__form {
  background-color: #F6F7F8;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 900px;
  padding: 50px;
  margin: 0 0 40px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.form__item {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form__item input[type="text"],
.form__item input[type="email"],
.form__item input[type="tel"],
.form__item textarea {
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 15px;
}

.form__item button {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #5995DA;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}

.form__item button:hover {
  background-color: #76AEED;
}

.form__item button:active {
  background-color: #407FC7;
}

/* ! footer */
.footer {
  display: flex;
  margin-top: 30px;
  padding: 20px;
  background-image: url("images/blue.jpg");
  justify-content: center;
}

.footer__element {
  width: 900px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bold;
}

.footer__link a {
  text-decoration: none;
}

.footer__link a:link,
.footer__link a:visited {
  color: white;
}

.footer__link a:hover {
  color: #3EF27E;
}

/* ! tablet */
@media screen and (max-width:1024px) {
  .header {
    padding-top: 20px;
    flex-flow: column;
    align-items: flex-start;
  }

  .social__list {
    display: flex;
    padding-bottom: 30px;
  }

  .social__icon:not(#first) {
    padding-left: 50px;
  }

  .biography__intro p {
    width: 85%;
  }

  .biography,
  .biography__skills {
    flex-direction: column;
  }

  .skills__hard {
    order: 2;
    margin-bottom: 20px;
  }

  .skills__hard h4 {
    position: static;
  }

  .biography__container__img {
    order: 1;
    margin: 20px 0 20px;
  }

  .skills__soft {
    order: 3;
  }

  .skills__soft h4 {
    text-align: right;
  }

  .latest__work__img {
    padding: 0;
  }

  .work {
    width: 90%;
  }

  .contact__form {
    width: 90%;
    padding: 15px;
  }
}

/* ! smartphone */
@media screen and (max-width:480px) {
  html, body, .container__header, .container {
    height: 100%;
  }

  .navbar {
    padding-right: 10px;
  }

  .header {
    height: 100%;
  }

  .hello {
    padding-top: 50px;
  }

  .about {
    display: block;
  }

  .social__list li {
    display: inline;
    margin-bottom: 30px;
  }

  .biography__title p {
    width: 100%;
  }
}